<div class="flex h-screen">
  <!-- Sidebar -->
  <app-sidebar [sidebarOpen]="sidebarOpen"></app-sidebar>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <!-- Top Navbar -->
    <app-top-navbar (toggleSidebar)="toggleSidebar()"></app-top-navbar>

    <!-- Dashboard Main -->
    <main class="flex-1 p-6 bg-gray-100 overflow-y-auto text-gray-700">
      <h2 class="text-2xl font-bold mb-6">Dashboard</h2>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 px-4">
        <!-- Pie Chart -->
        <div class="bg-white p-6 rounded shadow h-[400px] w-full flex flex-col justify-center items-center">
          <h3 class="text-lg font-semibold mb-4 text-center">Department Distribution</h3>
          <ngx-charts-pie-chart [results]="pieChartData1" [scheme]="colorScheme" [legend]="false" [doughnut]="false"
            [explodeSlices]="false" [gradient]="false" [view]="[400, 350]">
          </ngx-charts-pie-chart>
        </div>

        <!-- Line Chart -->
        <div
          class="bg-white p-6 rounded shadow h-[400px] w-full flex flex-col justify-center items-center overflow-x-auto">
          <h3 class="text-lg font-semibold mb-4 text-center">Multi-Series Line Chart</h3>
          <ngx-charts-line-chart [results]="lineChartData" [xAxis]="true" [yAxis]="true" [legend]="false"
            [showXAxisLabel]="true" [showYAxisLabel]="true" [autoScale]="true" [view]="[500, 300]"
            [animations]="true">
          </ngx-charts-line-chart>
        </div>
      </div>
    </main>
  </div>
</div>
